<div style="height:100vh; overflow:hidden;">
    <div class="top-side-menu">
        <!-- <img src="../../assets/AppTech_Logo_white.png" class="top-center-logo"> -->
    </div>
    <div style="font-size: 20px;height: 90vh; width:100vw; line-height: 90vh;align-content: center; color:black;text-align: center;" >
        <!-- {{'The Website is not exist.'|translate}} -->
        The Website is not exist.
    </div>
    <div class="title" style="width:100vw;text-align: center;">
        <footer class="login">&copy; Copyright 2020 Application Technology Co. Ltd.</footer>
    </div>
  </div>