<div class="login-flex-row-container ">
    <div class="login-flex-box">
        <img src="../../assets/AppTech_Logo_color.png" style="width:150px; margin-bottom:50px;" alt="App-Tech-Logo">
        <div class="login-login-section-container">
          <div class="test">
            <div style="margin-bottom:30px; margin-top:20px; font-size:30px;">
              <!-- {{'Sign_in'|translate}} -->
              Sign In
            </div>
            <div class="input" style="margin-bottom:20px;">
              <div class="login-input-title">
                <!-- {{'User_name'|translate}} -->
                User name
              </div>
              <!-- <input id="UserName" (keyup.enter)="user.moveNextDOMId('PassWord')" [(ngModel)]="userName" required> -->
              <input id="UserName" [(ngModel)]="userName" required>
            </div>
            <div class="input" style="margin-bottom:20px;">
              <div class="login-input-title">
                <!-- {{'Password'|translate}} -->
                Password
              </div>
              <input id="PassWord" [ngClass]="passwordSeen? 'not-show-password':'show-password'" [(ngModel)]="passWord"
                (keyup.enter)="login()" required>
              <img *ngIf="passwordSeen" class="password" src="../../assets/icon-password-visible.png"
                (click)="changePasswordFormat()">
              <img *ngIf="!passwordSeen" class="password" src="../../assets/icon-password-invisible.png"
                (click)="changePasswordFormat()">
            </div>
            <div class="message-title">
              <!-- {{message|translate}} -->
              {{ message }}
            </div>
            <!-- <button pButton type="button" [label]="loginTitle" class="login-button" (click)="login()"></button> -->
            <button class="login-button" (click)="login()">Login</button>
          </div>
        </div>
        <div class="login-flex-box2">
          If further additional information is required, please contact us at
          <a href="mailto:enquiry@apptech.com.hk">enquiry@apptech.com.hk</a>
        </div>
        <footer class="login">&copy; Copyright 2020 Application Technology Co. Ltd.</footer>
    </div>
</div>