.top {
    height: 44px;
    width: 100vw;
}

.drawer-container {
    width: 100vw;
    height: calc(100vh - 44px);
    border: 0px solid rgba(0, 0, 0, 0.5);
}

.drawer-sidenav {
    display: flex;
    height: 100%;
    padding-top: 130px;
    align-items: center;
    justify-content: center;
}

mat-drawer-container {
    height: 100%;
    background-color: #f1f1f1 !important;
}
mat-drawer {
    background-color: #24386c !important;
}

.wrap-main-container {
    width: 60%;
    margin-left: 10%;
    margin-top: 40px;
    padding-bottom: 60px;
}

.dashboard-link {
    text-decoration: none;
}

.drawer-element {
    height: 75px;
    width: 100%;
    line-height: 75px;
    text-align: left;
    padding-left: 30px;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    border: none;
}

.nav-btn-active {
    background-color: #008eff;
}

.nav-btn-inactive {
    height: 75px;
    width: 100%;
    line-height: 75px;
    text-align: left;
    padding-left: 30px;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    border: none;
}
