/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f1f1f1 !important;
}

dl, ol, ul {
    margin-top: 1rem !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
}